.idea/
.idea/go-streaming-video-websites.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

github.com

*.bak
*.a
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/2cecc445-f517-4948-b681-9174b695bd05.xml
.idea/dataSources.xml
.idea/dataSources.xml
.idea/dataSources.xml
.idea/dataSources.xml
